body {
    background-image: url(https://i.imgur.com/tgM8E0J.gif);
}

.profileimage {
    max-width: 35px;
    max-height: 35px;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

td, th{
    text-align:center;
}